a {
  background-color: #FE8705;
box-shadow: 0 5px 0 darkred;
color: white;
padding: 0.5em 0.5em;
position: relative;
text-decoration: none;
text-transform: uppercase;
margin-top: 50px;
text-decoration: none !important;
}

a:hover {
background-color: #ce0606;
}

a:active {
box-shadow: none;
top: 5px;
}